input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелочки у input[type="number"] для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}