
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Project
    username: postgres
    password: OiH56kjlo.
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show_sql: true
  sql:
    init:
      mode: never
server:
  port: 8081